
.vs/ProjectSettings.json
.vs/RazorPagesMovie/config/applicationhost.config
.vs/RazorPagesMovie/v16/.suo
.vs/RazorPagesMovie/v16/Server/sqlite3/db.lock
.vs/RazorPagesMovie/v16/Server/sqlite3/storage.ide-shm
.vs/RazorPagesMovie/v16/Server/sqlite3/storage.ide-wal
.vs/slnx.sqlite
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.deps.json
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.dll
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.pdb
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.runtimeconfig.dev.json
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.Views.dll
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.Views.pdb
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/_ViewImports.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/_ViewStart.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Error.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Index.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Create.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Delete.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Details.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Edit.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Index.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Privacy.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.assets.cache
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.csproj.FileListAbsolute.txt
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.csprojAssemblyReference.cache
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.dll
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.pdb
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.Views.dll
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.Views.pdb
RazorPagesMovie/obj/project.assets.json
RazorPagesMovie/obj/RazorPagesMovie.csproj.nuget.cache
RazorPagesMovie/obj/RazorPagesMovie.csproj.nuget.dgspec.json
RazorPagesMovie/obj/RazorPagesMovie.csproj.nuget.g.props
RazorPagesMovie/obj/Release/netcoreapp3.0/RazorPagesMovie.AssemblyInfo.cs
RazorPagesMovie/obj/Release/netcoreapp3.0/RazorPagesMovie.AssemblyInfoInputs.cache
RazorPagesMovie/obj/Release/netcoreapp3.0/RazorPagesMovie.assets.cache
RazorPagesMovie/obj/Release/netcoreapp3.0/RazorPagesMovie.RazorAssemblyInfo.cache
RazorPagesMovie/obj/Release/netcoreapp3.0/RazorPagesMovie.RazorAssemblyInfo.cs
RazorPagesMovie/RazorPagesMovie.csproj.user
.vs/RazorPagesMovie/config/applicationhost.config
.vs/RazorPagesMovie/config/applicationhost.config
.vs/RazorPagesMovie/v16/.suo
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.deps.json
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.dll
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.pdb
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.runtimeconfig.dev.json
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.Views.dll
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.Views.pdb
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/_ViewImports.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/_ViewStart.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Error.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Index.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Create.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Delete.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Details.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Edit.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Index.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Privacy.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.assets.cache
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.csproj.FileListAbsolute.txt
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.csprojAssemblyReference.cache
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.dll
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.pdb
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.Views.dll
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.Views.pdb
RazorPagesMovie/obj/project.assets.json
RazorPagesMovie/obj/RazorPagesMovie.csproj.nuget.cache
RazorPagesMovie/obj/RazorPagesMovie.csproj.nuget.dgspec.json
RazorPagesMovie/obj/RazorPagesMovie.csproj.nuget.g.props
RazorPagesMovie/RazorPagesMovie.csproj.user
.vs/RazorPagesMovie/config/applicationhost.config
*.props
*.user
.vs/RazorPagesMovie/config/applicationhost.config
.vs/RazorPagesMovie/v16/.suo
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.deps.json
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.dll
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.pdb
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.runtimeconfig.dev.json
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.Views.dll
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.Views.pdb
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/_ViewImports.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/_ViewStart.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Error.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Index.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Create.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Delete.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Details.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Edit.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Index.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Privacy.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.assets.cache
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.csproj.FileListAbsolute.txt
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.csprojAssemblyReference.cache
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.dll
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.pdb
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.Views.dll
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.Views.pdb
RazorPagesMovie/obj/project.assets.json
RazorPagesMovie/obj/RazorPagesMovie.csproj.nuget.cache
RazorPagesMovie/obj/RazorPagesMovie.csproj.nuget.dgspec.json
RazorPagesMovie/obj/RazorPagesMovie.csproj.nuget.g.props
RazorPagesMovie/RazorPagesMovie.csproj.user
*.config
*.cs
*.config
.vs/RazorPagesMovie/config/applicationhost.config
.vs/RazorPagesMovie/DesignTimeBuild/.dtbcache
.vs/RazorPagesMovie/v16/.suo
.vs/RazorPagesMovie/v16/Server/sqlite3/storage.ide
.vs/VSWorkspaceState.json
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.deps.json
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.dll
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.pdb
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.runtimeconfig.dev.json
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.Views.dll
RazorPagesMovie/bin/Debug/netcoreapp3.0/RazorPagesMovie.Views.pdb
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/_ViewImports.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/_ViewStart.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Error.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Index.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Create.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Delete.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Details.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Edit.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Movies/Index.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Privacy.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.assets.cache
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.csproj.FileListAbsolute.txt
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.csprojAssemblyReference.cache
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.dll
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.pdb
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.Views.dll
RazorPagesMovie/obj/Debug/netcoreapp3.0/RazorPagesMovie.Views.pdb
RazorPagesMovie/obj/project.assets.json
RazorPagesMovie/obj/RazorPagesMovie.csproj.nuget.cache
RazorPagesMovie/obj/RazorPagesMovie.csproj.nuget.dgspec.json
RazorPagesMovie/obj/RazorPagesMovie.csproj.nuget.g.props
RazorPagesMovie/RazorPagesMovie.csproj.user
